@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
    --background: hsl(0 0% 100%);
    --foreground: hsl(222.2 84% 4.9%);
    --muted: hsl(210 40% 96.1%);
    --muted-foreground: hsl(216, 8%, 49%);
  }

  .dark {
    --background: hsl(222.2 84% 4.9%);
    --foreground: hsl(220, 3%, 60%);
    --muted: hsl(217.2 32.6% 17.5%);
    --muted-foreground: hsl(215, 5%, 49%);  
  }
}

/* Add this to your existing CSS */
.resize-handle-active {
  user-select: none;
  pointer-events: none;
}
